# =====================
# ANGULAR / NODE
# =====================
frontend/node_modules/
frontend/dist/
frontend/.angular/

# =====================
# DOTNET
# =====================
backend/bin/
backend/obj/

# =====================
# VISUAL STUDIO
# =====================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =====================
# ENV FILES
# =====================
*.env

# =====================
# OS FILES
# =====================
Thumbs.db
.DS_Store

# =====================
# VS CODE
# =====================
.vscode/